[submodule "models/ACL19/source"]
	path = models/ACL19/source
	url = https://github.com/dadangewp/ACL19-SRW.git
[submodule "models/EMNLP20/source"]
	path = models/EMNLP20/source
	url = https://github.com/TharinduDR/DeepOffense.git
[submodule "models/ECMLPKDD20/source"]
	path = models/ECMLPKDD20/source
	url = https://github.com/hate-alert/DE-LIMIT.git
[submodule "models/WEBSCI21/source"]
	path = models/WEBSCI21/source
	url = https://github.com/vitiugin/mlian.git
